<ul>
    <li>
        <a routerLink="/auth/login">Ir a Login</a>
    </li>
    <li>
        <a routerLink="/auth/register">Ir a Register</a>
    </li>
    <li>
        <a routerLink="/heroes/list">Ir a Listado de héroes</a>
    </li>
    <li>
        <a routerLink="/heroes/add">Ir a Añadir un héroe</a>
    </li>
    <li>
        <a routerLink="/heroes/edit/1">Ir a Editar un héroe</a>
    </li>
    <li>
        <a routerLink="/heroes/search">Ir a Buscar un héroe</a>
    </li>
    <li>
        <a routerLink="/heroes/1">Ir a la Descripción de un héroe</a>
    </li>
</ul>