<mat-card style="margin-top: 20px;">
    <mat-card-header>
        <mat-card-title>{{ hero.superhero }}</mat-card-title>
        <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="hero | imageHero">

    <mat-card-content>
        <h3>{{ hero.publisher }}</h3>
        <p>
            <strong>Primera Aparición:</strong> {{ hero.first_appearance }}
            <br>
            <strong>Personajes:</strong> {{ hero.characters }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button>Leer más</button>
        <button mat-button color="primary">Editar</button>
    </mat-card-actions>
</mat-card>