<div class="row container mt-3">
    <div class="col-3"></div>
    <div class="col">
        <h1>Lista de propiedades</h1>
        <hr>
    </div>
</div>


<div class="row container">
    <div class="col-3"></div>
    <div class="col">
        <div class="row">
            <div class="col-4 mb-2" *ngFor="let e of estates">
                <div class="card">
                    <app-mini-map [lngLat]="e.lngLat" ></app-mini-map>
                    <div class="card-body">
                        <h5 class="card-title">{{ e.title }}</h5>
                        <div class="card-text">{{ e.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>