<div #map class="map-container"></div>

<div class="row bg-dark text-light">
    <div class="col-12">
        <label class="form-label">
            Zoom: {{ zoomLevel | number:'.2-2' }} 
            - Lng, Lat: [{{ center[0] | number:'.4-4'}}, {{ center[1] | number:'.4-4'}}]
        </label>
        <input type="range" class="form-range" [value]="zoomLevel" min="0.8" max="18" #zoomInput
            (input)="zoomChange(zoomInput.value)">
    </div>

    <div class="col-12">
        <button class="btn btn-primary" (click)="zoomOut()">-</button>
        <button class="btn btn-primary float-end" (click)="zoomIn()">+</button>
    </div>
</div>