<h1>Template: <small>Básicos</small></h1>
<hr>



<div class="row">
    <div class="col">
        <form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-control">Producto *</label>
                <div class="col-sm-9">
                    <input 
                        type="text" 
                        class="form-control" 
                        ngModel 
                        name="product" 
                        placeholder="Nombre del producto" 
                        required
                        minlength="3">
                    <span *ngIf="validProduct()" class="form-text text-danger">Debe de ser de 3 letras</span>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-3 col-form-control">Precio *</label>
                <div class="col-sm-9">
                    <input 
                        type="number" 
                        class="form-control" 
                        ngModel 
                        name="price" 
                        placeholder="Precio del producto" 
                        required 
                        min="0">
                    <span *ngIf="validPrice()" class="form-text text-danger">El precio debe ser mayor o igual a 0</span>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-3 col-form-control">Existencias *</label>
                <div class="col-sm-9">
                    <input 
                        type="number" 
                        class="form-control" 
                        ngModel 
                        name="stocks" 
                        placeholder="Existencias del producto"
                        customMin
                        [minimum]="10"
                        required>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" [disabled]="myForm.invalid">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ myForm.valid | json }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine | json }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched | json }}</pre>

        <span>Valor</span>
        <pre>{{ myForm.value | json }}</pre>
        
        <span>Custom Directives</span>
        <pre>{{ myForm.controls['stocks']?.errors | json }}</pre>
    </div>
</div>