.search-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    left: 20px;
    padding: 5px;
    position: fixed;
    top: 20px;
    width: 300px;
    z-index: 1000;
}