<h2>Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let item of templateMenu" [routerLink]="item.path" routerLinkActive="active" class="list-group-item">
        {{ item.text }}
    </li>
</ul>



<h2 class="mt-5">Reactive</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let item of reactiveMenu" [routerLink]="item.path" routerLinkActive="active" class="list-group-item">
        {{ item.text }}
    </li>
</ul>



<h2 class="mt-5">Validaciones</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let item of authMenu" [routerLink]="item.path" routerLinkActive="active" class="list-group-item">
        {{ item.text }}
    </li>
</ul>